
/* 
    Created on : 10 Sept 2023, 7:51:28 PM
    Project by   : Sulushree Sonawane
*/

.mainDiv{
    
   width: 100%;
   padding-top: 20px;
   margin-top: -10px;
   margin-left: -15px;
   margin-right: 30px;
    
    background: #2E64FE;
   
    
   
       }
  
.regDiv{
    
   width: 60%;
   background-color:#2E9AFE;
    border-radius: 25px;
    margin-left: 300px;
    
    padding: 20px;
   
    
   
       }